


/* nav-style */
nav{
    display: flex;
    width: 1140px;
    height: 151px;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    font-size:34px ;
    font-weight: 900px;
    line-height: 150%;
    color: #4E47FF;
    text-align: left;
    align-items: center;
    gap: 10px;
    padding: 50px 0px 0px 50px;
}
.nav-button{
    font-size:16px ;
    font-weight: 700px;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    text-align: center;
    color:#FFFFFF;
}
/* header-title */
.header-title{
    font-size:65px ;
    font-weight:700px;
    width:905px;
    height:152px;
    line-height: 76px;
    align-items: center;
    gap:37px;
    padding: 0px;
    text-align: center;
    margin-top: 168px;
    margin: 0px auto;

}
.header-btn{
    width: auto 174px ;
    height:48px ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    margin: 0px auto;

}
header{
    background-image: url(../style/Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;

}
.div-header{
    margin: 158px 265px 287px 265px
}
.section-1{
    font-family: 700px;
    font-size: 42px;
text-align: left;
}
.section-description{
font-size: 24px;
font-weight:400px ;
text-align: left;
}
.section-button{
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #4E47FF;
    font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
padding: 12px 36px 12px 36px;
}
.secttion-7{
    width: 517px;
    height: 203px;

}
.section-div{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

}
.img-link{
width:403px ;
height: 328px;
border-radius: 10px;
gap: 10px;
margin: 0px 10px;
}




